.recipe-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    gap:.3rem;

}

.recipe-card-header{
    text-align: center;
}

.reduce-height{
    height: 100%;
    top: 0rem;
    border-radius: 0px 0px 0px 0px;
    padding-top: 0rem;
    
}
.individuañRecipe-img{
    width:10rem;
    /* height:5rem; */

}
.recipe-card--main{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card-header h2{
    font-size:2rem
}

.recipe-card-header h2, .recipe-card--main h3{
    font-family: 'Akaya Kanadaka', cursive;
}

/* ingredients  */
.showIngredients{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.showIngredients h3{
    font-size:1.2rem;
}

/* method  */
.method-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:2rem;
}

.method-container h3{
    font-size:1rem;
}
.recipe-card-method{
    padding:0 2rem;
    /* align-self: flex-start; */
}



@media (min-width:1000px) {
    
    .recipe-card{
        width:75%;
        gap:0rem;
        margin: 0 auto;
        padding-bottom:4rem;
        
    
    }

    .recipe-card-header{
        text-align: center;
        background-color: rgb(225, 182, 103);
        width:100%;
        padding:3rem 0;
        border-radius:10% 10% 0 0;
    }
    .individuañRecipe-img{
        width:14rem;
       
    }
    .recipe-card--main{
        background-color: rgb(213, 219, 225);
        width:100%;
    }
    
    .showIngredients{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        margin-top:2rem;
        
        
    }
    
    .method-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:80%;
        align-items: center;
        padding-bottom: 3rem;;
    }
    .recipe-card-method{
        padding:0 2rem;
        /* align-self: flex-start; */
    }
    

}